[submodule "Angular8-Session1"]
	path = Angular8-Session1
	url = https://github.com/wesycool/Angular8-Session1.git
[submodule "Angular8-Assignment1"]
	path = Angular8-Assignment1
	url = https://github.com/wesycool/Angular8-Assignment1.git
