[submodule "Angular8-Session1"]
	path = Angular8-Session1
	url = https://github.com/wesycool/Angular8-Session1.git
[submodule "Angular8-Assignment1"]
	path = Angular8-Assignment1
	url = https://github.com/wesycool/Angular8-Assignment1.git
[submodule "Angular8-Session2"]
	path = Angular8-Session2
	url = https://github.com/wesycool/Angular8-Session2.git
[submodule "Angular8-Session3"]
	path = Angular8-Session3
	url = https://github.com/wesycool/Angular8-Session3.git
[submodule "Angular8-Session4"]
	path = Angular8-Session4
	url = https://github.com/wesycool/Angular8-Session4.git
[submodule "Angular8-Session5"]
	path = Angular8-Session5
	url = https://github.com/wesycool/Angular8-Session5.git
[submodule "Angular8-Assignment2"]
	path = Angular8-Assignment2
	url = https://github.com/wesycool/Angular8-Assignment2.git
